@yelow:#fffa19;

 .margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom; 
 }
.jumbotron {
    background-color: @yelow;
    color: black;
    .margenes(50px ,0px) }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yelow;
    .margenes(10px ,0px),
    color: black; }
  
  .card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 0px;
    margin-bottom: 0px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .espacio {
    margin-right: 3px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  